<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label>Bill: </label>
          <input
            type="number"
            class="bill"
            name="bill"
            min="0"
            [(ngModel)]="bill"
            (ngModelChange)="onChange('bill')"
            required
          />
        </div>
        <div class="col-sm-5 form-group">
          <label>Tip %: </label>
          <input
            type="number"
            class="bill"
            name="tip"
            min="0"
            [(ngModel)]="tip"
            (ngModelChange)="onChange('tip')"
          />
        </div>
        <div class="col-sm-5 form-group">
          <label>Bill: </label>
          <input
            type="number"
            class="bill"
            name="peopleCount"
            min="1"
            [(ngModel)]="peopleCount"
            (ngModelChange)="onChange('people')"
          />
        </div>
      </div>
      <div>
        <div>Tips: {{ tipTotal }}</div>
        <div>total: {{ totalValue }}</div>
      </div>
    </form>
  </div>
</div>
