<div class="view-port">
  <div class="circles">
    <div class="circle circle-1"></div>
    <div class="circle circle-2"></div>
  </div>
  <div class="card">
    <div class="title"><span>Tip calculator</span></div>
    <div class="form-container">
      <form>
        <div class="inputs-container">
          <div class="bill-container">
            <label>Bill $: </label>
            <input
              type="number"
              class="bill"
              id="bill"
              name="bill"
              min="0"
              [(ngModel)]="bill"
              (ngModelChange)="onChange('bill')"
              required
            />
          </div>
          <div class="tip-container">
            <label>Tip %: </label>
            <input
              type="number"
              class="bill"
              name="tip"
              id="tip"
              min="0"
              [(ngModel)]="tip"
              (ngModelChange)="onChange('tip')"
            />
          </div>
          <div class="person-container">
            <label>Person: </label>
            <input
              type="number"
              class="bill"
              name="peopleCount"
              min="1"
              id="person"
              [(ngModel)]="peopleCount"
              (ngModelChange)="onChange('people')"
            />
            <span class="underline"></span>
          </div>
        </div>
        <div class="outputs-container">
          <div class="tips">
            <span>Tips: {{ tipTotal | currency }}</span
            ><span
              [ngClass]="showtext ? 'per-person-visible' : 'per-person-hide'"
              >per person</span
            >
          </div>
          <div class="total">
            Total: {{ totalValue | currency
            }}<span
              [ngClass]="showtext ? 'per-person-visible' : 'per-person-hide'"
              >per person</span
            >
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
