.view-port {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.title {
    width: 100%;
    position: relative;
    left: 36%;
    font-size: 2rem;
    font-weight: bold;
}

/* Background circles start */
.circle {
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(120deg, #1D976C, #2c3e50);
}

.circles {
    position: absolute;
    height: 270px;
    width: 450px;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.circle-1 {
    height: 300px;
    width: 300px;
    top: 60px;
    left: -10px;
    opacity: 0.8;
    animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
    animation-iteration-count: infinite;
    animation-name: float;
    -webkit-animation-name: float;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
    animation-direction: alternate;
}

.circle-2 {
    height: 300px;
    width: 300px;
    bottom: 220px;
    right: -600px;
    opacity: 0.8;
    animation-timing-function: cubic-bezier(0.54, 0.085, 0.5, 0.92);
    animation-iteration-count: infinite;
    animation-name: float;
    -webkit-animation-name: float;
    animation-duration: 6s;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    animation-direction: alternate;
}

/* Background circles end */

/* ANIMATIONS */
@keyframes explode {
    0% {
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes float {

    0% {
        -webkit-transform: rotateX(0deg) translateY(0px);
        -moz-transform: rotateX(0deg) translateY(0px);
        -ms-transform: rotateX(0deg) translateY(0px);
        -o-transform: rotateX(0deg) translateY(0px);
        transform: rotateX(0deg) translateY(0px);
    }

    50% {
        -webkit-transform: rotateX(0deg) translateY(1px) translateX(5px);
        -moz-transform: rotateX(0deg) translateY(10px) translateX(5px);
        -ms-transform: rotateX(0deg) translateY(30px) translateX(5px);
        -o-transform: rotateX(0deg) translateY(40px) translateX(5px);
        transform: rotateX(0deg) translateY(10px) translateX(5px);
    }

    100% {
        -webkit-transform: rotateX(0deg) translateY(0px) translateX(1px);
        -moz-transform: rotateX(0deg) translateY(0px) translateX(1px);
        -ms-transform: rotateX(0deg) translateY(0px) translateX(1px);
        -o-transform: rotateX(0deg) translateY(0px) translateX(1px);
        transform: rotateX(0deg) translateY(0px) translateX(1px);
    }

}

.card {
    position: absolute;
    height: 30vh;
    width: 50vw;

    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.25);
    padding: 30px 30px 30px 30px;
    overflow: hidden;
}

input[type=number] {
    width: 80px;
    margin-left: 3px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

.inputs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 18vh;
}

.bill-container,
.tip-container,
.person-container {
    display: flex;
    flex-direction: row;
    padding: 8px;

    width: 100%;
    align-items: center;
    justify-content: center;
}

label {
    font-size: 20px;
}

.outputs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

.tips,
.total {
    display: flex;
    font-size: 25px;
    flex-direction: column;
}

input {
    font-family: 'Space Mono', monospace;
    border: none;
    font-size: 16px;
    height: 26px;
    color: #ffffff;
    background: 0;
    padding: 0;
    width: 0;
}

input:focus {
    border-bottom: 2px solid white;
    outline: none;
    font-family: 'Space Mono', monospace;
    border: none;
    color: white;
    font-size: 16px;
    height: 30px;
    margin-bottom: -2px;
}

input:hover {
    border-bottom: 2px solid white;
    font-family: 'Space Mono', monospace;
    color: white;
    margin-bottom: -2px;
    font-size: 16px;
    height: 30px;
}

.bill-container>input[id="bill"] {
    border: none;
    margin-bottom: 0px;
    outline: none;
}

.tip-container>input[id="tip"] {
    border: none;
    margin-bottom: 0px;
    outline: none;
}

.person-container>input[id="person"] {
    border: none;
    margin-bottom: 0px;
    outline: none;
}

.underline {
    display: inline-block;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 0.5px;
    background-color: #ffffff;
    margin-top: 5px;
}


.per-person-visible {
    font-size: 15px;
}

.per-person-hide {
    display: none;
}

@media (max-width: 480px) {
    .view-port {
        width: 100vw;
        height: 45vw;
    }

    .title {
        left: 5%;
        font-size: 1.5rem;
    }

    .inputs-container {
        left: 15%;
    }

    .underline {
        left: -29px;
    }

    .outputs-container {
        flex-direction: column;
    }

    .tips,
    .total {
        display: flex;
        font-size: 20px;
        flex-direction: column;

        position: relative;
    }
}